<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Insert title here</title>
<body>
<div>
			<div class="mt-4 ms-5 d-flex gap-2">
				<h5>
					<button type="button" class="btn btn-primary">
						<span class="badge badge-secondary addReply">Add Reply</span>
					</button>
				</h5>
				<h5>
					<button type="button" class="btn btn-primary">
						<span class="badge badge-secondary replySelectAll">Reply
							Count(클릭시list) : [[${board.replyCount}]]</span>
					</button>
				</h5>
			</div>
			<div class="replyList row g-3"></div>
		</div>
</body>
</html>