<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1> 타임리프 연습</h1>
	<h2 th:text="${greeting}">여기</h2>
	<h3>inline방식 : [[${greeting}]]</h3>
	<div>
		<ul>
			<li>[[${book.gno}]]</li>
			<li>title : [[${book.title}]]</li>
			<li>writer : [[${book.writer}]]</li>
			<li>content : [[${book.content}]]</li>
		</ul>
	</div>
	
<script th:inline="javascript">
	var data = /*[[${greeting}]]*/ "default값";
	console.log(data);
</script>
</body>
</html>